@use './styles/abstracts/' as *;

.wrapper-content {
  width: 483px;
  display: flex;
  flex-direction: column;
}

.scroll-bar {
  flex: 1 1 auto;
  overflow-y: auto;
}

.content {
  width: 375px;

  margin: auto;

  .header-title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 3.2rem;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
  }

  .item {
    @include flex(flex, center, null);
    height: 44px;
    padding: 0px 12px;
    border: 1px solid rgba(255, 255, 255, 0);

    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
    background: rgb(46, 46, 46);
    margin-bottom: 16px;
    cursor: pointer;
  }

  .item-title {
    flex: 1 0 auto;
    text-align: center;
  }
}

.policy-confirm-tips {
  width: 100%;
  @include flex;
  font-size: 1.4rem;
  background: rgb(18, 18, 18);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  padding: 16px 30px;
  text-align: center;
}

.footer {
  @include flex(flex, center, center);
  color: rgba(255, 255, 255, 0.9);
  height: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 1.5rem;
  line-height: 1.8rem;

  .footer-toggle-auth {
    margin-left: 5px;
    font-weight: 600;
    color: rgb(255, 59, 92);
    cursor: pointer;
  }
}
