@use '~/styles/abstracts/' as *;

.search-popper {
  padding-top: 0.8rem;
  z-index: z-index('search-popper');

  .title {
    height: 3rem;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
  }
  .menu-item {
    a {
      @include flex(flex, center, null);
      padding: 0.9rem 1.6rem;
    }
  }

  .avatar {
    border-radius: 50%;
  }

  .info {
    margin-left: 1.2rem;

    .full-name {
      @include flex(flex, center, null);
      @include text-shorten;

      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: 600;

      .tick-icon {
        color: white;
        margin-left: 0.4rem;
      }
    }

    .user-name {
      @include text-shorten;
      font-size: 1.4rem;
      line-height: 2rem;
      color: rgba(22, 24, 35, 0.5);
      font-weight: 400;
    }
  }

  .footer {
    padding: 1.5rem 1.6rem;

    &:hover {
      cursor: pointer;
      background: rgba(22, 24, 35, 0.03);
    }

    p {
      @include text-shorten;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: rgb(22, 24, 35);
    }
  }
}
