@use '~/styles/abstracts/' as *;

.wrapper {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.video-description {
  @include text-shorten;
  font-weight: 400;
}

.wrapper-video-music {
  @include flex(flex, center, null);
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 12px;

  .music-icon {
    margin-right: 4px;
    flex-shrink: 0;
  }

  p {
    @include text-shorten;
  }
}

.wrapper-video {
  position: relative;
  width: 100%;
  padding-top: 50%;
  margin-right: 20px;
  background-color: red;

  .video {
    @include position(absolute, 0, 0, null, null, 1);
    width: 100%;
    height: 100%;
  }
}

.action-list {
  flex-shrink: 0;

  .btn {
    cursor: pointer;
  }

  .wrapper-icon {
    @include flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 8px 0 6px;
    transition: all ease-in-out 200ms;
    background-color: var(--colorBGInput);
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .count {
    display: block;
    color: var(--colorTextSecondary);
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
  }
}

.action-list {
  @include responsive('tablet') {
    .wrapper-icon {
      width: 48px;
      height: 48px;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
