@use '~/styles/abstracts/' as *;

.wrapper {
  @include flex;
  height: $header-height;
  box-shadow: 0px 1px 1px var(--colorLineSecondary);
  background: var(--colorBGPrimary);

  position: sticky;
  top: 0;
  z-index: z-index('header');

  .content {
    @include flex(flex, center, space-between);

    width: $header-width;
    height: 100%;
  }
}
