$primary: #fe2c55;
$white: #ffffff;
$black: #000000;
$text-color: #161823;

$header-width: 1150px;
$header-height: 60px;

$sidebar-desktop-width: 348px;
$sidebar-mobile-width: 72px;

$search-bar-width: 361px;
$search-bar-height: 46px;

$z-indexes: ('search-popper', 'header', 'sidebar');
$breakpoints: (
  // 420px
  'xs': 42em,
  // 480px
  'sm': 48em,
  // 768px
  'md': 76.8em,
  // 1072px
  'desktop': 107.2em
);
