$primary: #fe2c55;
$white: #ffffff;
$black: #000000;
$text-color: #161823;

$header-width: 1150px;
$header-height: 60px;

$upload-width: 1000px;

$sidebar-desktop-width: 348px;
$sidebar-mobile-width: 72px;

$search-bar-width: 361px;
$search-bar-height: 46px;

$z-indexes: ('modal', 'header-popper', 'header', 'sidebar');
$breakpoints: (
  // 768px
  'tablet': 768px,
  // 1072px
  'desktop': 1072px
);
