@use '~/styles/abstracts/' as *;

.wrapper {
  & > input[type='file'] {
    display: none;
  }
}

.upload-card {
  @include flex;
  flex-direction: column;
  width: 260px;
  height: 458px;
  border: 2px dashed var(--colorLinePrimary2);
  border-radius: 8px;
  transition: background 0.15s ease-in-out 0s;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  background: var(--colorBGSecondary);

  &:hover {
    background: var(--colorBGView);
    border-color: var(--colorPrimary);
  }

  & > .cloud-icon {
    color: var(--colorPrimary2);
  }

  & > h4 {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
    color: var(--colorTextPrimary);
  }

  & > span {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--colorTextSecondary);
  }

  & .sub-content {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--colorTextTertiary);

    & + .sub-content {
      margin-top: 6px;
    }
  }

  .button {
    margin-top: 32px;
    width: 186px;
    border-radius: 0px;
  }
}
