@use './styles/abstracts/' as *;

.wrapper {
  input {
    display: none;
  }

  label {
    position: relative;
    display: block;
    width: 44px;
    height: 24px;
    background: rgba(22, 24, 35, 0.12);
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      background: rgba(22, 24, 35, 0.16);
    }

    &::before {
      @include pseudo;
      @include vertical-center;

      width: 20px;
      height: 20px;
      left: 2px;

      background-color: $white;
      border-radius: 100px;
      box-shadow: rgb(0 0 0 / 15%) 0px 1px 2px;
      transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    }
  }

  input:checked + label {
    background: rgb(11, 224, 155);

    &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), rgb(11, 224, 155);
    }
  }

  input:checked + label::before {
    left: calc(100% - 2px);
    transform: translate(-100%, -50%);
  }
}
