@use '~/styles/abstracts/' as *;

.wrapper {
  margin-right: 16px;
  margin-left: 16px;
  width: 692px;
  max-width: 692px;
  padding: 24px 0;
  position: relative;
}

.container-item {
  @include flex(flex, null, null);
  padding: 20px 0;
  width: 592px;
  max-width: 592px;
}
