@use '~/styles/abstracts/' as *;

.loading {
  @include flex;
  width: 100%;
  height: 40px;

  & > .ball {
    width: 12px;
    height: 12px;
    background-color: var(--colorPrimary);
    border-radius: 50%;
    margin: 4px;
    animation: jumb 0.5s ease-in infinite;
    z-index: 1;

    &:nth-of-type(2) {
      animation-delay: 0.1s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.2s;
    }
  }

  @keyframes jumb {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
  }
}
