@use '~/styles/abstracts/' as *;
.wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;

  @include responsive('tablet') {
    height: 100vh;
    padding-top: 30px;
  }
}

// Top container
.top-container {
  flex: 0 0 auto;
  padding: 22px 32px 16px;
  border-bottom: 1px solid var(--colorLinePrimary2);
  order: 1;

  @include responsive('tablet') {
    order: 1;
  }

  .info-content {
    margin-bottom: 15px !important;
  }

  .copy-link-container {
    @include flex(flex, center, flex-start);
    height: 34px;

    line-height: 2rem;
    font-size: 1.4rem;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background: var(--colorBGInput);
    border-radius: 8px;
    overflow: hidden;

    p {
      @include text-shorten(1);
      flex: 1 1 auto;
      margin-left: 12px;
    }

    button {
      display: block;
      border: none;
      outline: none;
      color: var(--colorTextPrimary);
      background-color: transparent;
      font-weight: 700;
      flex: 0 0 auto;
      user-select: none;
      padding: 0 18px;
      height: 100%;
      transition: background 0.2s;

      cursor: pointer;
    }

    button:hover {
      background: var(--colorBGView);
    }
  }
}

.wrapper-action-buttons {
  @include flex(flex, center, null);
  column-gap: 20px;
  margin-bottom: 16px;

  @include responsive('tablet') {
    @include flex(flex, center, space-between);
  }

  .left-action-buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 12px;

    .button {
      @include flex;
    }

    .button.cursor-pointer {
      cursor: pointer;
    }

    .wrapper-icon {
      @include flex;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 6px;
      transition: all ease-in-out 200ms;
      background-color: var(--colorBGInput);

      &.active .like-icon {
        color: var(--colorPrimary);
      }

      .icon {
        width: 20px;
        height: 20px;
      }
    }

    .quantity {
      display: block;
      color: var(--colorTextSecondary);
      font-size: 1.2rem;
      line-height: 1.7rem;
      text-align: center;
    }
  }

  .right-actions-buttons {
    @include flex(flex, center, flex-end);
    flex-wrap: wrap;
    gap: 8px;

    .wrapper-icon {
      display: flex;
      cursor: pointer;
    }
  }
}

// Bottom container
.bottom-container {
  flex: 0 0 auto;
  padding: 21px 30px;
  border-bottom: 1px solid var(--colorLinePrimary2);
  order: 2;

  @include responsive('tablet') {
    order: 3;
    border-top-color: transparent;
    border-bottom: none;
    border-top: 1px solid var(--colorLinePrimary2);
  }

  .login-bar {
    color: var(--colorPrimary);
    font-weight: 600;
    height: 100%;
    background: var(--colorBGPlaceholderOpaque);
    border-radius: 2px;
    padding: 14px 16px;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .reply {
    display: inline-block;
    color: var(--colorTextPrimary);
    word-break: break-all;
    overflow-y: auto;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  .bottom-comment-wrapper {
    @include flex(flex, flex-end, null);
    gap: 2px;

    .comment-bar {
      @include flex(flex, center, flex-start);
      color: var(--colorTextSecondary);
      flex: 1 1 auto;
      min-width: 200px;
      background-color: var(--colorBGInput);
      border: 1px solid transparent;
      border-radius: 8px;
      transition: border-color 0.2s;

      &:focus-within {
        border-color: var(--colorLinePrimary);
      }

      .paragraph {
        display: block;
        min-height: 17px;
        max-height: 68px;
        overflow-y: auto;
        width: 100%;

        outline: none;
        word-break: break-all;
        margin: 10px 4px 10px 0px;
        padding: 0 8px;

        font-size: 14px;
        line-height: 17px;
        caret-color: var(--colorPrimary);
        background-color: transparent;

        cursor: text;

        &:empty:not(:focus)::before {
          content: attr(data-placeholder);
        }
      }
    }

    .btn {
      height: 40px;
      flex: 0 0 52px;
      border: none;
      outline: none;
      user-select: none;
      background-color: transparent;
      color: var(--colorTextQuaternary);
      font-weight: 600;
      font-size: 1.4rem;
      margin-right: 4px;
      pointer-events: none;
      text-align: center;

      &.active {
        color: var(--colorPrimary);
        pointer-events: auto;
        cursor: pointer;
      }
    }
  }
}
