@use '~/styles/abstracts/' as *;

.wrapper {
  @include flex(flex, center, space-between);
  position: relative;
  height: 36px;
  width: 300px;
  color: rgb(22, 24, 35);

  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  background: rgb(255, 255, 255);
  cursor: pointer;

  .icon {
    color: unset;
  }
}

.option-list.is-active {
  @include fade('show');
}

.option-list {
  @include fade('hide');
  position: absolute;
  top: 36px;
  max-height: 1000px;
  left: 0px;
  width: 100%;

  margin-top: 4px;
  border-radius: 4px;
  padding: 4px 0px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  overflow: overlay;
  z-index: z-index('popper');
}

.option-item {
  background: rgb(255, 255, 255);
  padding: 10px 12px;

  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  color: rgb(22, 24, 35);
  cursor: pointer;
}

.option-item:hover {
  background: rgba(22, 24, 35, 0.03);
}

.option-item.is-selected {
  background: rgba(22, 24, 35, 0.06) !important;
}
