@use '~/styles/abstracts/' as *;

.wrapper {
  padding: 8px 0;
  color: var(--colorTextSecondary);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;

  @include responsive('desktop') {
    padding: 16px 0;
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 8px;
    right: 8px;
    height: 1px;
    background: var(--colorLineSecondary);
    transform: scaleY(0.5);
  }

  .title {
    display: none;
    padding: 0 8px;
    margin-bottom: 8px;

    @include responsive('desktop') {
      display: block;
    }
  }

  .btn {
    display: none;
    padding: 0px 8px;
    margin-top: 8px;
    color: var(--colorPrimary);
    background-color: transparent;
    cursor: pointer;

    @include responsive('desktop') {
      display: block;
    }
  }
}
